<nav class="navbar navbar-expand-lg mt-3 ">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">HOME</a>
    </li>
    <li class="nav-item leftSpace">
      <a class="nav-link" href="#">SERVICES</a>
    </li>
    <li class="nav-item leftSpace">
      <a class="nav-link" href="#">WINNERS</a>
    </li>
    <li class="nav-item leftSpace">
      <a class="nav-link" href="#">ABOUT US</a>
    </li>

    <li>
      <div class="btn-group" dropdown container="body">
        <button id="button-container" dropdownToggle type="button" class="btn btn-primary"
                aria-controls="dropdown-container">
                Hi Siddaya <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><span><i class="fa fa-user-circle-o" aria-hidden="true"></i><a class="dropdown-item" href="#">My Account</a></span></li>
          <li role="menuitem"><i class="fa fa-sliders" aria-hidden="true"></i><a class="dropdown-item" href="#">Settings</a></li>
          <li role="menuitem"><i class="fa fa-bell-o" aria-hidden="true"></i><a class="dropdown-item" href="#">Notifications</a></li>
          <div class="center">
            <button class="btn btn-primary justify-content-center">Logout</button>
          </div>

        </ul>
      </div>
    </li>

    <!-- <li class="nav-item leftSpace">
      <div class="dropDownMenu" dropdown >
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary"
          aria-controls="dropdown-basic">
          Hi Siddaya</button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><span><i class="fa fa-user-circle-o" aria-hidden="true"></i><a class="dropdown-item" href="#">My Account</a></span></li>
          <li role="menuitem"><i class="fa fa-sliders" aria-hidden="true"></i><a class="dropdown-item" href="#">Settings</a></li>
          <li role="menuitem"><i class="fa fa-bell-o" aria-hidden="true"></i><a class="dropdown-item" href="#">Notifications</a></li>
          <div class="center">
            <button class="btn btn-primary justify-content-center">Logout</button>
          </div>

        </ul>
      </div>

    </li> -->
  </ul>
</nav>
