<div class="container-fluid justify-content-center">
  <footer>
    <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
      <div class="col-12">
        <div class="row row-2">
          <div class="col-sm-3 text-md-center">
            <h3>PhotoShooto</h3>
            <p>For any queries or<br> doubts Fell free to <br> reach us.</p>
          </div>
          <div class="col-sm-3 my-sm-0 mt-5">
            <ul class="list-unstyled">
              <li class="mt-0">About Us</li>
              <li>Contact</li>
              <li>FAQs</li>
              <li>Terms & Conditions</li>
            </ul>
          </div>
          <div class="col-sm-3 my-sm-0 mt-5">
            <ul class="list-unstyled">
              <li class="mt-0 ml-1"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>&nbsp;Facebook</li>
              <li><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>&nbsp;Twitter</li>
              <li><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>&nbsp;Instagram</li>
            </ul>
          </div>
          <div class="col-sm-3 my-sm-0 mt-5">
            <h4>Subscribe to our newslatter</h4>
            <a class="btn btn-light">Email Address</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center row-1">
      <div class="col-12 justify-content-center">
        <p class="content"><small>&#9400;PhotoShooto All Rights Reserved </small></p>

      </div>
    </div>
  </footer>
</div>
